<div id="intro" class="view">
  <div class="mask rgba-black-strong">
    <div class="
        container-fluid
        d-flex
        align-items-center
        justify-content-center
        h-100
      ">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-md-12">
          <!-- Heading -->
          <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
            Blog
          </h2>

          <!-- Divider -->
          <hr class="hr-light" />
        </div>
      </div>
    </div>
  </div>
</div>

<!--Main layout-->
<main class="my-5 mt-5">
  <div class="container">
    <!--Section: News of the day-->
    <section class="border-bottom pb-4 mb-5">
      <div class="row gx-5">
        <div class="col-md-6 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
            <img src="assets/images/a1.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 mb-4">
          <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Best among all</span>
          <h4><strong>Potrait Mode</strong></h4>
          <p class="text-muted">
            Portrait mode is a term used to describe the artificial bokeh (BOH-kay) effect produced by smartphones.
            Bokeh is a photography effect where the subject of a picture is kept in focus while the background falls out
            of focus. By using portrait mode to create a bokeh effect, you can take dynamic photographs which look more
            professional.
          </p>
          <button type="button" class="btn btn-primary">Read more</button>
        </div>
      </div>
    </section>
    <!--Section: News of the day-->

    <!--Section: Content-->
    <section>
      <div class="row gx-5">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong ripple mb-4" data-mdb-ripple-color="light">
              <img src="assets/images/a2.jpg" class=" img1" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>



            <!-- Article data -->
            <div class="row mb-3">
              <div class="col-10">
                <a href="" class="text-info">
                  Improved Picture Quality
                </a>
                <a href="" class="text-dark">
                  <h5>The improvement in picture quality are as under:</h5>

                </a>
              </div>


            </div>

            <!-- Article title and description -->










            <hr />

            <!-- News -->
            <a href="" class="text-dark">
              <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                  <img src="assets/images/p.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                </div>

                <div class="col-9">
                  <p class="mb-2"><strong>Sample 1</strong></p>
                  <p>
                    15.07.2020
                  </p>
                </div>
              </div>
            </a>

            <!-- News -->
            <a href="" class="text-dark">
              <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                  <img src="assets/images/a3.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                </div>

                <div class="col-9">
                  <p class="mb-2"><strong>Sample 2</strong></p>
                  <p>
                    15.07.2020
                  </p>
                </div>
              </div>
            </a>

            <!-- News -->
            <a href="" class="text-dark">
              <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                  <img src="assets/images/a4.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                </div>

                <div class="col-9">
                  <p class="mb-2"><strong>Sample 3</strong></p>
                  <p>
                    15.07.2020
                  </p>
                </div>
              </div>
            </a>

            <!-- News -->
            <a href="" class="text-dark">
              <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                  <img src="assets/images/a5.png" class="img-fluid shadow-1-strong rounded" alt="" />
                </div>

                <div class="col-9">
                  <p class="mb-2"><strong>Sample 4</strong></p>
                  <p>
                    15.07.2020
                  </p>
                </div>
              </div>
            </a>
          </div>
          <!-- News block -->
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong ripple mb-4" data-mdb-ripple-color="light">
              <img src="assets/images/R.png" class=" img1" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>

            <!-- Article data -->
            <div class="row mb-3">
              <div class="col-10">
                <a href="" class="text-danger">
                  Facial Features
                </a>
                <a href="" class="text-dark">
                  <h5>Facial Features samples are as under:</h5>


                </a>

              </div>

            </div>

            <!-- Article title and description -->

            <hr />

            <!-- News -->
            <a href="" class="text-dark">
              <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                  <img src="assets/images/a6.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                </div>

                <div class="col-9">
                  <p class="mb-2"><strong>Sample 1</strong></p>
                  <p>
                    15.07.2020
                  </p>
                </div>
              </div>
            </a>

            <!-- News -->
            <a href="" class="text-dark">
              <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                  <img src="assets/images/a7.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                </div>

                <div class="col-9">
                  <p class="mb-2"><strong>Sample 2</strong></p>
                  <p>
                    15.07.2020
                  </p>
                </div>
              </div>
            </a>

            <!-- News -->
            <a href="" class="text-dark">
              <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                  <img src="assets/images/a8.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                </div>

                <div class="col-9">
                  <p class="mb-2"><strong>Sample 3</strong></p>
                  <p>
                    15.07.2020
                  </p>
                </div>
              </div>
            </a>

            <!-- News -->
            <a href="" class="text-dark">
              <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                  <img src="assets/images/a9.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                </div>

                <div class="col-9">
                  <p class="mb-2"><strong>Sample 4</strong></p>
                  <p>
                    15.07.2020
                  </p>
                </div>
              </div>
            </a>
          </div>
          <!-- News block -->
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong ripple mb-4" data-mdb-ripple-color="light">
              <img src="assets/images/f1.jpg" class="img-fluid img1" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>

            <!-- Article data -->
            <div class="row mb-3">
              <div class="col-10">
                <a href="" class="text-warning">
                  Fun Features
                </a>
                <a href="" class="text-dark">
                  <h5>The samples of fun features are under:</h5>


                </a>
              </div>

            </div>

            <!-- Article title and description -->


            <hr />

            <!-- News -->
            <a href="" class="text-dark">
              <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                  <img src="assets/images/f5.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                </div>

                <div class="col-9">
                  <p class="mb-2"><strong>Sample 1</strong></p>
                  <p>
                    15.07.2020
                  </p>
                </div>
              </div>
            </a>

            <!-- News -->
            <a href="" class="text-dark">
              <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                  <img src="assets/images/f3.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                </div>

                <div class="col-9">
                  <p class="mb-2"><strong>Sample 2</strong></p>
                  <p>
                    15.07.2020
                  </p>
                </div>
              </div>
            </a>

            <!-- News -->
            <a href="" class="text-dark">
              <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                  <img src="assets/images/f4.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                </div>

                <div class="col-9">
                  <p class="mb-2"><strong>Sample 3</strong></p>
                  <p>
                    15.07.2020
                  </p>
                </div>
              </div>
            </a>

            <!-- News -->
            <a href="" class="text-dark">
              <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                  <img src="assets/images/f5.jpg" class="img-fluid shadow-1-strong rounded" alt="" />
                </div>

                <div class="col-9">
                  <p class="mb-2"><strong>Sample 4</strong></p>
                  <p>
                    15.07.2020
                  </p>
                </div>
              </div>
            </a>
          </div>
          <!-- News block -->
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <!-- Pagination -->
    <br>
  </div>
</main>
<!--Main layout-->

<!--Main layout-->
<main class="my-5">
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-9 mb-4">
        <!--Section: Content-->
        <section>
          <!-- Post -->
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                <img src="assets/images/l1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8 mb-4">
              <h5>Potrait Mode</h5>
              <p>
                Portrait Mode takes images with a shallow depth of field, focusing on the primary subject and blurring out the background for a professional look. It does this by using machine learning to estimate how far away objects are from the camera, so the primary subject can be kept sharp and everything else can be blurred.
              </p>

              <button type="button" class="btn btn-primary">Read</button>
            </div>
          </div>

          <!-- Post -->
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                <img src="assets/images/l2.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8 mb-4">
              <h5>Edited</h5>
              <p>
                mage or Object Detection is a computer technology that processes the image and detects objects in it. People often confuse Image Detection with Image Classification. Although the difference is rather clear. If you need to classify image items, you use Classification. But if you just need to locate them, for example, find out the number of objects in the picture, you should use Image Detection.
              </p>

              <button type="button" class="btn btn-primary">Read</button>
            </div>
          </div>

          <!-- Post -->
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                <img src="assets/images/l3.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8 mb-4">
              <h5>Thermal Image</h5>
              <p>
                Thermal images, or thermograms, are actually visual displays of the amount of infrared energy emitted, transmitted, and reflected by an object. Because there are multiple sources of the infrared energy, it is difficult to get an accurate temperature of an object using this method.
              </p>

              <button type="button" class="btn btn-primary">Read</button>
            </div>
          </div>

          <!-- Post -->
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                <img src="assets/images/l4.png" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8 mb-4">
              <h5>Facial Features</h5>
              <p>
                Three-dimensional imaging enables comprehensive and accurate quantification of facial characteristics, which makes it a promising technique to investigate facial features of acromegalic patients. In combination with machine learning technique, patients can be accurately identified and predicted by their facial variables
              </p>

              <button type="button" class="btn btn-primary">Read</button>
            </div>
          </div>
        </section>
        <!--Section: Content-->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 mb-4">
        <!--Section: Sidebar-->
        <section class="sticky-top" style="top: 80px;">

          <!--Section: Video-->
        </section>
        <!--Section: Sidebar-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <!-- Pagination -->

  </div>
</main>
<!--Main layout-->