<div id="intro" class="view">
    <div class="mask rgba-black-strong">
        <div class="
        container-fluid
        d-flex
        align-items-center
        justify-content-center
        h-100
      ">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-12">
                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
                        Potrait Mode Effect
                    </h2>

                    <!-- Divider -->
                    <hr class="hr-light" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 center" #mainScreen>
            <ngx-file-drop [dropZoneClassName]="'upload-background-image'" dropZoneLabel="Drop files here" 
                (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    Drag Your file here ;)
                    <button type="button" class="btn btn-outline-info cdkButton" cdkDrag style="width: 80%"
                        data-mdb-ripple-color="dark" (click)="openFileSelector()">
                        Open File
                    </button>
                </ng-template>
            </ngx-file-drop>
        </div>
        <div class="col-md-6  mt-5 center">
            <div class="view imageHW" *ngFor="let item of files; let i = index">
                <img src="../../assets/images/{{item.relativePath}}" class="img-fluid w-100" alt="">
                <div class="mask pattern-1 flex-center rgba-stylish-light">
                    <!-- <a class="white-text">Convert Pic</a> -->
                </div>
            </div>
            <button *ngIf="FileLoaded" type="button" class="btn btn-outline-info cdkButton" cdkDrag
                (click)="check()">Convert</button>
            <!-- <a class="ripple" *ngFor="let item of files; let i = index">
                <img alt="example" class="img-fluid rounded" src="../../assets/images/{{item.relativePath}}" />
            </a>
            <button *ngIf="FileLoaded" type="button" class="btn btn-outline-info cdkButton" cdkDrag
                (click)="check()">Convert</button> -->
        </div>
    </div>
    <div class="center">
        <div class="upload-table">
            <img alt="example" class="img-fluid rounded" [src]='convertedPic' />
        </div>
    </div>
</div>