<!--Main Navigation-->
<header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

        <div class="container">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">Picstor</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/home'>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/improved-picture-quality'>IPQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/potrait-mode-effect'>PME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/facial-features-editing'>FFE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/fun-features'>FUN Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/about-us'>About us</a>
                    </li>
                </ul>
                <!-- Links -->

                <!-- Social Icon  -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link" type="button" (click)="openModal(login)">Login</a>
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" type="button"  (click)="openModal(signup)">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- Collapsible content -->

        </div>

    </nav>
    <!--/.Navbar-->
</header>
<!--Main Navigation-->

<!--Sign up-->
<ng-template #signup>
  <div class="modal-header">
     <h4 class="modal-title pull-right">Sign Up</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
     </button>
  </div>
  <div class="modal-body">
    <div class="md-form mb-5">
      <i class="fas fa-user prefix grey-text"></i>
      <input type="text" id="orangeForm-name" class="form-control validate" #Name>
      <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
    </div>
    <div class="md-form mb-5">
      <i class="fas fa-envelope prefix grey-text"></i>
      <input type="email" id="orangeForm-email" class="form-control validate" #Email>
      <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
    </div>

    <div class="md-form mb-4">
      <i class="fas fa-lock prefix grey-text"></i>
      <input type="password" id="orangeForm-pass" class="form-control validate" #Password>
      <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
    </div>

  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" (click)="Signup(Name.value, Email.value, Password.value); modalRef.hide()">Close</button>
  </div>
</ng-template>

<!--Logh in -->
<ng-template #login>
  <div class="modal-header">
     <h4 class="text-center">Log in</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
     </button>
  </div>
  <div class="modal-body">
    <div class="modal-body mx-3">
      <div class="md-form mb-5">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input type="email" id="defaultForm-email" class="form-control validate" #EmailAddress>
        <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
      </div>

      <div class="md-form mb-4">
        <i class="fas fa-lock prefix grey-text"></i>
        <input type="password" id="defaultForm-pass" class="form-control validate" #Password>
        <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
      </div>
    </div>

  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" (click)="Login(EmailAddress.value, Password.value); modalRef.hide()">Log in</button>
  </div>
</ng-template>
