<!--Mask-->
<div id="intro" class="view">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Picstor</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Deleniti
                        consequuntur.</h4>
                </div>

            </div>

        </div>

    </div>

</div>
<!--/.Mask-->
<main class="mt-5">
    <div class="module">
        <!--Section: Content-->
        <section>
            <div class="row">
                <div class="col-md-8 gx-5 mb-4" style="height: 25% !important;">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 " data-mdb-ripple-color="light">
                        <img src="../../assets/images/cl1.png" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 gx-5 mb-4">
                    <br><br><br>
                    <h2><strong>Improved Picture Quality </strong></h2>
                    <p class="text-muted">
                        In photography and videography, HDR or high-dynamic-range imaging is the set of techniques used
                        to reproduce a greater range of luminosity than that which is possible with standard
                        photographic techniques. Standard techniques allow differentiation only within a certain range
                        of brightness. Outside this range, no features are visible because in the brighter areas
                        everything appears pure white, and pure black in the darker areas. The ratio between the maximum
                        and the minimum of the tonal value in an image is known as the dynamic range. HDR is useful for
                        recording many real-world scenes containing very bright, direct sunlight to extreme shade, or
                        very faint nebulae.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 gx-5 mb-4">
                    <br><br><br>
                    <h2><strong>Portrait Mode Effect</strong></h2>
                    <p class="text-muted">
                        Portrait mode is the orientation of the page that prints the image vertically across the page
                        instead of horizontally. By default, all programs have the page orientation and printer pages
                        setup in portrait mode. The image is an example of the printer paper orientation set up through
                        the printer options in Microsoft Windows. As you can see, the top example is a paper orientation
                        selected as portrait and the bottom is selected as Landscape.
                    </p>
                    
                  
                </div>
                <div class="col-md-8 gx-5 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://www.xda-developers.com/files/2017/10/Google-Discusses-the-Tech-Used-to-Emulate-Bokeh-on-the-Pixel-2.jpg"
                            class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 gx-5 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://cdn.pizap.com/pizapfiles/images/face_editor_touch_up_app05.jpg"
                            class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 gx-5 mb-4">
                    <h4><strong>Facial Features Editing</strong></h4>
                    <p class="text-muted">
                        The purpose of this is to correlate the facial features of the two faces. The goal of this project is to develop a graphical editor in which the artists can define the feature points for a face model. The feature points will be saved in a file format that can be used in a Facial Motion Cloning software.
                    </p>
                    
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 gx-5 mb-4">
                    <h4><strong>Fun Features</strong></h4>
                    <p class="text-muted">
                        Funny Image Photo . Photography is all about fun and it is well proven by this Website. So if you are searching for a free of cost photo editing platform to have real fun on your phone then simply go to Fun Features section and get started with real adventure.
                    </p>
                  
                </div>
                <div class="col-md-8 gx-5 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://i.ytimg.com/vi/AHbpLXJL6EQ/maxresdefault.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--Section: Content-->
    </div>
</main>
<main>
    <div class="container">
        <hr class="my-5">
    </div>
    <!--Section: Examples-->
    <section id="examples" class="text-center">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold">Stunning Examples</h2>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img class="img-fluid w-100" src="{{ slide.img }}" alt="" width="100%">
            </div>
        </ngx-slick-carousel>

    </section>
    <!--Section: Examples-->
</main>
<!--Main layout-->
<main class="mt-5">
    <div class="container">


        <hr class="my-5">

        <!--Section: Contact-->
        <section id="contact">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">Contact us</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-5 col-md-12">
                    <!-- Form contact -->
                    <form class="p-5 grey-text">
                        <div class="md-form form-sm"> <i class="fa fa-user prefix"></i>
                            <input type="text" id="form3" class="form-control form-control-sm">
                            <label for="form3">Your name</label>
                        </div>
                        <div class="md-form form-sm"> <i class="fa fa-envelope prefix"></i>
                            <input type="text" id="form2" class="form-control form-control-sm">
                            <label for="form2">Your email</label>
                        </div>
                        <div class="md-form form-sm"> <i class="fa fa-tag prefix"></i>
                            <input type="text" id="form32" class="form-control form-control-sm">
                            <label for="form34">Subject</label>
                        </div>
                        <div class="md-form form-sm"> <i class="fa fa-pencil prefix"></i>
                            <textarea type="text" id="form8" class="md-textarea form-control form-control-sm"
                                rows="4"></textarea>
                            <label for="form8">Your message</label>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-primary">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                        </div>
                    </form>
                    <!-- Form contact -->
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7 col-md-12">

                    <!--Grid row-->
                    <div class="row text-center">

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-3">

                            <p><i class="fa fa-map fa-1x mr-2 grey-text"></i>New York, NY 10012</p>

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-3">

                            <p><i class="fa fa-building fa-1x mr-2 grey-text"></i>Mon - Fri, 8:00-22:00</p>

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-3">

                            <p><i class="fa fa-phone fa-1x mr-2 grey-text"></i>+ 01 234 567 89</p>

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Google map-->
                    <div id="map-container" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Contact-->

    </div>
</main>